<h1><%= @task.id %></h1>
<ul>
<li><%= @task.day %></li>
<li><%= @task.room %></li>
<li><%= @task.begin_time %></li>
<li><%= @task.end_time %></li>
<li><%= @task.gear %></li>
<li><%= @task.preset %></li>
<li><%= @task.setup %></li>
<li><%= @task.strike %></li>
<li><%= @task.notes %></li>
</ul>