<% if t.object.errors.any? %>
  <div class="alert alert-error">
    <ul>
      <% t.object.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= t.label :day %>
<%= t.text_field :day, class: "medium-field" %>

<%= t.label :room %>
<%= t.text_field :room, class: "medium-field" %> 

<%= t.label :begin_time, "Begin" %>
<%= t.text_field :begin_time, class: "medium-field" %> 

<%= t.label :end_time, "End" %>
<%= t.text_field :end_time, class: "medium-field" %> 

<%= t.label :gear %>
<%= t.text_field :gear, class: "medium-field" %>

<%= t.label :preset %>
<%= t.text_field :preset, class: "medium-field" %>

<%= t.label :notes %>
<%= t.text_field :notes, class: "medium-field" %>